# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
.env
*env

# other
.DS_Store

# sphinx docs 
_build
_static
_templates

# javascript
.vscode/symbols.json

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp

node_modules
yarn.lock

shared.egg-info

.github/
mongo_dump/

# grid-reporter
clients.json
grid-reporter/state.json
.idea/